<div ng-controller="MenuCtrl" id="MenuController">

<div id="title0" ng-click="title0Tap()">
<h1>Menu</h1>

</div>

<div id="list_item1" ng-click="list_item1Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Routes
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item2" ng-click="list_item2Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Challanges
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

</div>