<div ng-controller="RoutesCtrl" id="RoutesController">

<div id="title0" ng-click="title0Tap()">
<h1>Routes</h1>

</div>

<div id="panel1" ng-click="panel1Tap()">
<div class="card">
  <div class="item item-divider">
    Alternatives
  </div>
  <div class="item item-text-wrap">
    {{text}}
    <!--li ng-repeat="value in values">{{value}}</li-->
    }
  </div>
  <li ng-repeat="route in routes">{{route}}</li>
</div>

</div>

<div id="list_item2" ng-click="list_item2Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    This week
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

</div>